:root {
	--primary-color: #067BC2;
	--secondary-color: #84BCDA;
	--third-color: #ECC30B;
}

@font-face {
    font-family: 'claire_handregular';
    src: url('fonts/clairehandregular-webfont.woff2') format('woff2'),
         url('fonts/clairehandregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.slide::after {
    visibility: hidden;
}


.shower {
    --color-key: var(--primary-color);
}

.slide.title h2 {
    margin-top: 1em;
    font-size: 3em;
    color: var(--primary-color);
}

.slide.title .subtitle {
	font-size: 1em;
	color: var(--secondary-color);
}

.slide h2 {
	color: var(--primary-color);
}

.slide a {
	color: var(--secondary-color);
	background-image: none;
}

li.current a {
	color: var(--primary-color);
	text-decoration: underline;	
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.handwritten {
	font-family: claire_handregular;
}

.small {
	font-size: 0.7em;
}

code {
	margin: inherit !important; 
	padding: inherit !important;
}

code.inline {
	margin: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.slide.code {
	padding-top: 0;
	padding-bottom: 0;
}

.strikethrough {
	text-decoration: line-through;
}